@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.about-navigate {
  margin-top: 90px;
  max-width: 90%;
  &__content {
    display: flex;
    gap: 10px;
  }

  &__info {
    width: 65%;
    border-bottom: 1px solid #005f4b;
  }

  &__item {
    display: flex;
    gap: 18px;
    align-items: center;
    margin: 30px 0;

    &-icon {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-title {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 26px;
      line-height: 26px;
      color: #242424;
      margin: 0;
    }

    &-description {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 21px;
      line-height: 21px;
      letter-spacing: -4%;
      color: #242424;
      margin: 0;
    }
  }

  &__map {
    width: 30%;
    
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}


@media (max-width: 1200px) {
  .about-navigate{
    width: 100%;
    &__content{
      gap: 40px;
    }
    &__info{
      width: 55%;
    }
    &__map{
      width: 45%;
    }
  }
}


@media (max-width: 992px) {
  .about-navigate{
    width: 100%;
    &__content{
      gap: 40px;
    }
    &__info{
      width: 50%;
    }
    &__map{
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  .about-navigate{
    width: 100%;
    margin: 40px 5px;
    &__item{
      &-title{
        font-size: 25px;
        line-height: 25px;
      }
      &-description{
        font-size: 20px;
        line-height: 20px;
      }
    }
    &__content{
      flex-direction: column;
      gap: 40px;
    }
    &__info{
      width: 100%;
    }
    &__map{
      width: 100%;
      height: 300px;
    }
  }
}

@media (max-width: 576px) {
  .about-navigate{
    width: 100%;
    // margin: 40px auto;
    &__content{
      flex-direction: column;
      gap: 40px;
    }
    &__info{
      width: 100%;
    }
    &__item{
      &-icon{
        width: 28px;
        height: 28px;
      }
        &-title{
          font-size: 23px;
          line-height: 23px;
        }
        &-description{
          font-size: 19px;
          line-height: 19px;
        }
    }
    &__map{
      width: 100%;
      height: 230px;
    }
  }
}