.Conteiner {
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .block {
        width: 100% !important;
        height: 500px;
        border-radius: 3px;
        background-color: rgba(0, 66, 52, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        

        .minBlock {
            width: 100% !important;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 60px;

            .img {
                width: 310px;
                display: flex;
                align-items: start;
                justify-content: start;

                img {
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: left;
                margin-left: 20px;
                margin-top: 130px;

                h1 {
                    width: 450px !important;
                    background: rgba(0, 66, 52, 1);
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    text-align: left;
                    font-size: 25px;
                    font-weight: bold;
                    margin: 15px 0;
                    width: 480px;
                    height: 40px;
                }

                .line {
                    display: flex;
                    width: 90%;
                    height: 3px;
                    background-color: #fff;
                    margin: 15px 0;
                }

                p {
                    width: 400px;
                    background: rgba(0, 66, 52, 1);
                    color: #fff;
                    margin: 15px 0;
                    font-size: 20px;
                    width: 480px;
                    height: 25px;
                }
            }
        }
    }
}
