.info-carousel {
  max-width: 70%;
  position: relative;
  overflow: hidden;
  margin-bottom: 2%;

  &-title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 50px 0;
    line-height: 40px;
    letter-spacing: -4%;
    color: #005f4b;
  }

  &__wrapper {
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }

  &__swiper {
    width: 100%;
    overflow: hidden !important;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
    transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
    filter: blur(2px);
    transform: scale(0.8);

    &.swiper-slide-active {
      transform: scale(1.2);
      filter: blur(0px);
      opacity: 1;
      z-index: 1;
      height: 170px;
    }
  }

  &__image {
    width: 300px; 
    height: 200px;
    object-fit: cover;
    border-radius: 2%;
    transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
  }

  &__pagination {
    margin-top: 1%;
    text-align: center;

    .swiper-pagination-bullet {
      background: #fff;
      width: 0.8%;
      height: 0.8%;
      margin: 0 0.5%;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #007bff;
    }
  }
}

@media (max-width: 576px) {
  .info-carousel{
    max-width: 100%;
  }
}