.awardsBaner {
    font-family: Lato, sans-serif;

    h1 {
        font-weight: 900;
        font-size: 70px;
        color: #005F4B;
    }

    div {
        margin-top: 50px;
        border-left: 3px solid #005F4B;
        padding-left: 20px;

        p {
            font-weight: 300;
            font-size: 35px;
            color: #005F4B;
        }
    }
}