.gallery {
    .gallery_select {

        padding: 40px 0 40px 40px;
        display: flex;
        justify-content: end;

        div {

            select {
                background: rgba(0, 95, 75, 1);
                color: #fff;
                padding: 10px;
                font-size: 30px;
                border: none;
                margin: 0 10px;
            }
        }
    }

    .gallery_group {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;

        .gallery_card {
            margin: 50px 10px;

            border-radius: 10px;




            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


    }
}

.gallery_data {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    background: #226b4e;
    color: #fff;
    padding: 10px 20px;
    font-size: 24px;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        border-style: solid;
    }

    &::before {
        left: 0;
        border-width: 22px 0 22px 15px;
        border-color: transparent transparent transparent rgba(245, 245, 220, 1);
    }

    &::after {
        right: 0;
        border-width: 22px 15px 22px 0;
        border-color: transparent rgba(245, 245, 220, 1) transparent transparent;

    }
}










// Адаптивные стили
@media (max-width: 1440px) {
    .gallery_select div select {
        font-size: 28px;





    }

    .gallery_data {
        font-size: 22px;
        padding: 9px 18px;
    }

    .gallery_banner h2 {
        font-size: 65px;
    }
}

@media (max-width: 1230px) {
    .gallery_select div select {
        font-size: 26px;
        padding: 8px;
    }

    .gallery_group {
        padding: 0;
        display: flex;
        justify-content: space-around;



        .gallery_card {


            padding: 20px;
        }

        .gallery_card--one {
            width: 227px !important;
        }

        .gallery_card--two {
            width: 257px !important;
        }

        .gallery_card--tri {
            width: 277px !important;
        }


        .gallery_data {
            font-size: 20px;
            padding: 8px 16px;
        }
    }



}

@media (max-width: 1024px) {
        .gallery_card--two {
            width: 257px !important;
        }

        .gallery_card--tri {
            width: 277px !important;


        margin-top: 0;
    }

    .gallery_data {
        font-size: 18px;
        padding: 7px 14px;
    }

  
    .gallery_card--one {
        width: 18% !important;
    }

}

@media (max-width: 1010px) {
    .gallery .gallery_select div select {
        padding: 14px;
        font-size: 22px;

    }

    

    .gallery_group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;



        .gallery_card {
            align-self: end;
            width: 359px !important;
            height: 296px !important;
            padding: 10px;
            margin: 0;

        }

        .gallery_data {
            font-size: 16px;
            padding: 10px 12px;

        }


    }



}

@media (max-width: 767px) {
    .gallery_group {
        .gallery_card {
            align-self: end;
            width: 320px !important;
            height: 276px !important;
            padding: 5px;
            margin: 0;

        }


    }
}

@media (max-width: 761px) {
    .gallery_group {



        .gallery_card {
            align-self: end;
            width: 339px !important;
            height: 276px !important;
            padding: 10px;
            margin: 0;

        }



    }

    @media (max-width: 741px) {

        .gallery_group {
            .gallery_card {
                align-self: end;
                width: 320px !important;
                height: 276px !important;
                padding: 5px;
                margin: 0;

            }
        }

        @media (max-width: 683px) {
            .gallery_group {




                .gallery_card {
                    align-self: end;
                    width: 300px !important;
                    height: 266px !important;
                    padding: 5px;
                    margin: 0;

                }



            }
        }

        @media (max-width: 642px) {
            .gallery_group {




                .gallery_card {
                    align-self: end;
                    width: 285px !important;
                    height: 250px !important;
                    padding: 5px;
                    margin: 0;

                }




            }
        }

        @media (max-width: 612px) {
            .gallery .gallery_select div select {
                padding: 11px;
                font-size: 18px;

            }

         

            .gallery_group {




                .gallery_card {
                    align-self: end;
                    width: 255px !important;
                    height: 220px !important;
                    padding: 5px;
                    margin: 0;

                }




            }
        }

        @media (max-width: 553px) {
            .gallery .gallery_select div select {
                padding: 9px;
                font-size: 16px;

            }

            

            .gallery_group {




                .gallery_card {
                    align-self: end;
                    width: 235px !important;
                    height: 190px !important;
                    padding: 5px;
                    margin: 0;

                }




            }
        }

        @media (max-width: 513px) {
            .gallery .gallery_select div select {
                padding: 8px;
                font-size: 15px;
            }

            .gallery_group {




                .gallery_card {
                    align-self: end;
                    width: 215px !important;
                    height: 175px !important;
                    padding: 5px;
                    margin: 0;

                }




            }
        }

    }

    @media (max-width: 480px) {
        .gallery_select div select {
            font-size: 8px;
            padding: 1px;

        }


        .gallery .gallery_select div select {
            padding: 1px;
            font-size: 15px;
        }

        .gallery_group .gallery_card {
            flex: 1 1 80%;
            padding-bottom: 0px;
            height: 300px !important;

        }


    }
}