body{
    background-color: blanchedalmond;
}

.container{
    width: 1320px;
    margin: 0 auto;
    width: 100%;
}
.content{
    .textOne{
    font-family: Lato;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -4%;
    color: #005F4B;
    width: 1120;
    height: 160;
    top: 188.01px;
    left: 590px;

}
.section-title{
    width: 71%;
    height: auto;
    color: #242424;
    font-size: 30px;
}
.subtitle{
    font-family: Lato;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2%;
    width: 959;
    height: 60;
    top: 398.01px;
    left: 590px;
    color:  #005F4B;
}
.text{
    width: 72%;
    height: auto;
    color: #242424;
    font-size: 30px;
}
.text1{
    width: 71%;
    height: auto;
    color: #242424;
    font-size: 30px;
}
.text2{
    width: 71%;
    height: auto;
    color: #242424;
    font-size: 30px;
}
.text3{
    width: 71%;
    height: auto;
    color: #242424;
    font-size: 30px;
}
.text4{
    width: 71%;
    height: auto;
    color: #242424;
    font-size: 30px;
}
.text5{
    width: 71%;
    height: auto;
    color: #242424;
    font-size: 30px;
}

.section-title{
    margin: 1px;
}
}




