.slider-container {
  width: 100%; 
  margin: 0 auto;
  position: relative;
  overflow: hidden; 
  margin-bottom: 30px;
  margin-top: 5%;

  #title-home-slider{
    font-size: 40px;
    font-family: sans-serif, "Lato";
    margin-left: 10%;
    color: rgba(0, 95, 75, 1);
  }


  .slick-list {
      overflow: hidden !important; 
  }

  .slick-track {
      display: flex;
      align-items: center;
  }

  .slick-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
  }

  .slide {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;

      .slide-image {
          width: 320px;
          height: 270px;
          object-fit: cover;
          border-radius: 10px;
          transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
      }
  }

  .slick-slide:not(.slick-center) {
      opacity: 0.6;
      transform: scale(0.8);
      filter: blur(1px);
  }

  .slick-center {
      opacity: 1;
      transform: scale(1.1);
      filter: blur(0px);

      .slide-image {
          transform: scale(1.1);
      }
  }

  @media (max-width: 1200px) {


    .slide{
        .slide-image{
            width: 300px;
            height: 220px;
        }
    }
  }

  @media (max-width: 992px) {

    #title-home-slider{
        margin-left: 8%;
    }

    .slide{

        .slide-image{
            width: 220px;
            height: 200px;
        }
    }
  }

  @media (max-width: 768px) {
    #title-home-slider{
        margin-left: 8%;
        font-size: 20px;
    }

    .slide{
        .slide-image{
            width: 200px;
            height: 180px;
           
        }
    }

    .slick-track{
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }

  @media (max-width: 576px) {
    #title-home-slider{
        margin-left: 7%;
        font-size: 15px;
    }

    .slide{
        .slide-image{
            width: 120px;
            height: 100px;
           
        }
    }

    .slick-track{
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slick-slide{
        width: 100% !important;
        max-width: 100%;
    }
  }
}
