@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.education-body {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__header {
  }

  &__title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2%;
    color: #005f4b;
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__description {
    color: #242424;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    max-width: 85%;
    margin: 0;
  }
}