.homeBanner {
  font-family: Arial, sans-serif;
  color: #333;
  width: 100%;
  padding: 2rem;
  background: linear-gradient(180deg, #106F5B 28.8%, #F5F5DC 100%);
  background-size: cover;
  height: 100%;

  &_content {
    margin: 0 auto;
    width: 95%;

    &_title {
      width: 100%;
      font-size: 70px;
      color: white;
      font-family: sans-serif, "Lato";
    }

    &_text {
      gap: 1vw;
      width: 90%;
      display: flex;

      &_dec {
        width: 60%;
        font-size: 20px;
        margin-top: 5%;
        font-family: sans-serif, "Lato";
      }

      &_img {
        width: 40%;
        height: auto;
        margin-top: 3vw;
        object-fit: cover;
      }

    }
  }
}

@media (max-width: 1200px) {
  .homeBanner {
    &_content {
      &_title {
        font-size: 55px;
      }
    }
  }

}

@media (max-width: 992px) {
  .homeBanner {
    &_content {
      &_title {
        font-size: 50px;
      }

      &_text {
        &_dec {
          font-size: 15px;
        }

        &_img {
          width: 35%;
          height: 45%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .homeBanner {
    &_content {
      &_title {
        font-size: 30px;
      }

      &_text {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        &_dec {
          width: 100%;
          font-size: 10px;

        }

        &_img {
          width: 35%;
        }
      }
    }
  }

  
}

@media (max-width: 576px) {
  .homeBanner {
    &_content {
      &_title {
        font-size: 25px;
      }

      &_text {
        flex-direction: column-reverse;


        &_dec {
          width: 100%;
          text-align: center;
          font-size: 10px;
          text-align: left;
        }

        &_img {
          width: 100%;
          margin: 0 auto 20px;        }
      }
    }
  }
}