    .blocks {
        width: 100% !important;
        height: 550px;
        top: 750px;
        background-color: rgba(34, 34, 34, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        .miniblocks {
            width: 800px;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            position: relative;

            h1 {
                background: rgba(34, 34, 34, 1);
                color: #fff;
                width: 550px;
                height: 30px;
                font-family: Lato;
                font-weight: 500;
                font-size: 28px;
                line-height: 30px;
                letter-spacing: -2%;
                margin-left: 15px;
            }

            .imagg {
                width: 220px;
                height: 320px;
                position: absolute;
                top: 25px;
                left: 600px;
            }

            p {
                background: rgba(34, 34, 34, 1);
                color: #fff;
                width: 600px;
                height: 320px;
                font-family: Lato;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0%;
                margin-left: 20px;
            }

            .molodej{
                background: rgba(34, 34, 34, 1);
                color: #fff;
                width: 550px;
                height: 320px;
                font-family: Lato;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0%;
                margin-left: 20px;
            }

            .param {
                background: rgba(34, 34, 34, 1);
                color: #fff;
                width: 750px;
                height: 320px;
                font-family: Lato;
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0%;
            }
        }
    }
