.catalog_table {
    width: 90%;
    border-collapse: collapse;

    th,
    td {
        text-align: start;
        padding: 0.75rem;
        border: 3px solid #005F4B;
        font-weight: 400;
        font-size: 28px;
        color: #242424;
    }

  

}